# Fichiers Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Fichiers de cache et plugins
.terraform.lock.hcl
.terraform/providers/
.terraform/plugins/

# Fichiers temporaires
*.log
*.tmp

# Autres fichiers inutiles
.DS_Store
.idea/
.vscode/